/* Tambahan CSS untuk animasi ngetik dan foto */
.typing {
  display: inline-block;
  font-size: 24px;
  color: #ffbb33; /* Warna teks */
  border-right: 2px solid #ffbb33; /* Kursor ngetik */
  white-space: nowrap; /* Tidak membungkus teks */
  overflow: hidden; /* Menyembunyikan teks yang belum ditampilkan */
}

@keyframes rainbow-border {
  0% {
    border-color: red;
  }
  14% {
    border-color: orange;
  }
  28% {
    border-color: yellow;
  }
  42% {
    border-color: green;
  }
  57% {
    border-color: blue;
  }
  71% {
    border-color: indigo;
  }
  85% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}

/* Default layout (untuk layar besar) */
.container {
  display: flex;
  height: 70%;
  width: 100%;
  margin: 0 auto;
  flex-direction: row; /* Layout default dengan gambar di samping teks */
  justify-content: flex-start; /* Posisikan konten ke kiri */
}

.content {
  max-width: 700px; /* Lebar maksimum untuk teks */
  margin-left: 20px; /* Tambahkan jarak antara teks dan gambar */
  height: auto;
  padding: 0;
  border: none; /* Hilangkan border warna-warni */
}

/* Latar belakang animasi air terjun */

.profile-photo .foto {
  width: 100%; /* Mengisi kartu */
  border-radius: 15px; /* Sudut membulat untuk gambar */
  position: relative; /* Agar gambar berada di atas latar belakang animasi */
  z-index: 1; /* Agar gambar berada di atas latar belakang */
}

.content {
  position: relative; /* Mengatur konten untuk dapat posisinya di atas latar belakang */
  z-index: 1; /* Agar konten berada di atas latar belakang */
  padding: 20px; /* Jarak antara konten dan tepi kartu */
}

.text-content {
  margin: 20px;
}

.typing,
h1,
h2,
p {
  color: #ffbb33; /* Warna judul */
  padding: 10px;
}

/* Layout untuk perangkat mobile */
@media (max-width: 768px) {
  p {
    display: none; /* Sembunyikan paragraf di layar kecil */
  }
  .container {
    flex-direction: column; /* Gambar di atas teks */
    align-items: center;
    height: 100%;
    margin-bottom: 10px; /* Tambahkan jarak antara teks dan gambar */
    padding: 10px;
  }

  .content {
    margin-bottom: 10px; /* Tambahkan jarak antara teks dan gambar */
    padding: 10px; /* Berikan jarak dalam konten */
  }

  .profile-card .foto {
    width: 70%;
    height: 66%;
    margin-left: 40px;

    /* Tambahkan jarak di bawah gambar */
  }
  .profile-card {
    width: 50%;
    margin-left: 0;
    /* Tambahkan jarak di bawah gambar */
  }
  .social-media {
    margin-top: 0;
    height: 50%;
    margin-left: 0;
  }
}

/* Layout untuk tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column; /* Gambar di bawah teks */
    align-items: center;
    height: 100%;
  }

  .content {
    margin-bottom: 20px; /* Jarak antara teks dan gambar */
    padding: 20px;
  }
  .profile-card {
    margin-left: 0px;
    width: 100%;
    height: 40%;
  }

  .profile-card .foto {
    margin-left: 0px;
    width: 100%;
    height: 65%;
  }
}

/* Layout untuk layar laptop */
@media (min-width: 1024px) {
  .container {
    flex-direction: row; /* Gambar dan teks di samping satu sama lain */
    justify-content: flex-start; /* Posisikan konten ke kiri */
  }

  .content {
    margin-right: 40px; /* Tambahkan jarak antara teks dan gambar */
    padding: 0;
  }

  .profile-card {
    margin-left: 20px; /* Jarak antara gambar dan teks serta navbar */
    margin-top: 0; /* Hapus jarak di atas */
  }
}
